<div class="sidebar" data-color="purple" data-image="/img/sidebar-1.jpg">
    <div class="logo">
        <a href="#/role" class="simple-text">
            HMS
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li id="liRole">
                <a href="#/role">
                    <i class="material-icons">dashboard</i>
                    <p>Role</p>
                </a>
            </li>
            <li id="liEmployee">
                <a href="#/employee">
                    <i class="material-icons">person</i>
                    <p>Employee</p>
                </a>
            </li>
            <li id="liProduct">
                    <a href="#/product">
                        <i class="material-icons">transfer_within_a_station</i>
                        <p>product</p>
                    </a>
                </li>
        </ul>
    </div>
</div>